= 'Hi, ' + @sent_feed.user.name + ' ! '
= "You've just succeeded in making a feed in our FaceHook.Your posted message was"
= @sent_feed.content
= 'Thanks! Hope you enjoy your time in our service.'
= 'Best Regards,'
= 'The FaceHook Team'
