p = 'Hi, ' + @sent_feed.user.name + ' ! '
p You've just succeeded in making a feed in our FaceHook. Your posted message was
p = @sent_feed.content
p Thanks! Hope you enjoy your time in our service.
p Best Regards,
p The FaceHook Team
