= 'Hi!'
=
= 'The group ' + @groups_user.group.name + ' in our FaceHook now has a new member ' + @groups_user.user.name + '!'
=
= "Please check the link below to check what's going on in the group."
= link_to 'Go to the group', users_group_url(@groups_user.group)
