p = 'Hi!'
br
p = @sent_group_post.user.name + ' has just succeeded in making a group post in Group: ' + \
  @sent_group_post.group.name + ' in our FaceHook. The message was'
p = @sent_group_post.content
