p = 'Hi, ' + @groups_user.user.name + ' ! '
br
p = "You're just invited to a group " + @groups_user.group.name + " in our FaceHook."
br
p = "Please check the link below to check what's going on in the group."
p = link_to 'Go to the group', users_group_url(@groups_user.group)
