h1  グループ詳細
p = 'グループ名: ' + @group.name

hr
// ここにグループ投稿一覧


hr
// invite friends to the group

br

= link_to 'Feeds', users_feeds_path
br
= link_to 'Back', users_groups_path
= link_to 'Home', root_path
